.container {
   margin-bottom: 20px; /* Add margin to separate from the previous list */
}

.movieText {
   color: green;
   text-align: left;
   font-size: 30px;
}

.movieHeading {
   color: orchid;
   text-align: left; /* Added text-align: left; to align movie titles to the left */
}